<template>
  <div>
    <BookClubs/>
  </div>
</template>

<script>
import BookClubs from '@/components/BookClubs.vue'

export default {
    name: 'BookClubsView',

    components: {
      BookClubs 
    }
}
</script>