<template>
  <ProductVue/>
</template>

<script>
import ProductVue from '@/components/Book.vue'

export default {
    name: "ProductView",
    
    components:{
        ProductVue
    }

}
</script>

<style>

</style>