<template>

    <main class="p-5 md:px-24">
        <div class="grid gap-4 grid-cols-1 md:grid-cols-3  p-5" >
            <BookBox 
                v-for="book in books"
                :key="book.id"
                :book="book"
            />
        </div>
    </main>
    
</template>

<script>

import BookBox from './BookBox.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
    name: "Books",

    data(){
        return {
            books: [],
            query: ''
        }
    },

    components: {
        BookBox
    },

    methods: {
        
        ...mapActions([
            'getLatestBooks'
        ]), 
        
        async searchBooks(){
            console.log(this.query);
            this.books = await this.getBookByTitle;
        }
    },
    
    computed: {
        ...mapGetters([
            'getBooks',
            'getBookByTitle'
        ]),

    },

    mounted(){
        this.getLatestBooks();
        this.books = this.getBooks;

        document.title = 'Best | Sellers';
        
        let url = window.location.search.substring(1);
        let params = new URLSearchParams(url);
        
        if (params.get('query')){
            this.query = params.get('query');
            this.searchBooks();
        }
        
    },
      
}
</script>
