<template>

    <main class="p-5 md:px-24">
        <div class="grid gap-4 grid-cols-1 md:grid-cols-3  p-5" >
            <BookClubBox 
                v-for="kidsItem in kidsItems"
                :key="kidsItem.id"
                :kidsItem="kidsItem"
            />
        </div>
    </main>
    
</template>

<script>

import BookClubBox from './BookClubBox.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
    name: "KidsCorner",

    data(){
        return {
            kidsItems: [],
            query: ''
        }
    },

    components: {
        BookClubBox
    },

    methods: {
        
        ...mapActions([
            'getLatestKidsItems'
        ]), 
        
        async searchKidsItems(){
            console.log(this.query)
            this.kidsItems = await this.getKidsItemByName;
        }
    },
    
    computed: {
        ...mapGetters([
            'getKidsItems',
            'getKidsItemByName'
        ]),

    },

    mounted(){
        this.getLatestKidsItems();
        this.kidsItems = this.getKidsItems;

        document.title = 'Kids | Corner';
        
        let url = window.location.search.substring(1);
        let params = new URLSearchParams(url);
        
        if (params.get('query')){
            this.query = params.get('query');
            this.searchKidsItems();
        }
        
    },
      
}
</script>
