<template>
    
    <main class="p-5">
        <div class="grid gap-8 grig-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 p-5" >
            <div>
                <h2 class="flex items-center">
                    {{ getCategories.name }}
                </h2>
            </div>

            <BookBox 
                v-for="book in getCategories.books"
                :key="book.id"
                :book="book"
            />

        </div>
    </main>

</template>

<script>
import BookBox from './BookBox.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
    name: "Category",

    components: {
        BookBox
    },

    computed:{
        ...mapGetters([
            'getCategories'
        ])
    },
    
    methods: {
        ...mapActions([
            'fetchCategory'
        ])
    },

    mounted(){
        this.fetchCategory(this.$route.params.category_slug);
    },

    watch: {
        $route(to){
            console.log("watcher")
            if (to.name === 'Category'){
                this.fetchCategory(this.$route.params.category_slug);
            }
        }
    }


}
</script>

