<template>

    <main class="p-5 md:px-24">
        <div class="grid gap-4 grid-cols-1 md:grid-cols-3  p-5" >
            <TourBox 
                v-for="kidbook in kidsbooks"
                :key="kidbook.id"
                :kidbook="kidbook"
            />
        </div>
    </main>
    
</template>

<script>

import TourBox from './TourBox.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
    name: "Tours",

    data(){
        return {
            allTours: [],
            query: ''
        }
    },

    components: {
        TourBox
    },

    methods: {
        
        ...mapActions([
            'getLatestTours'
        ]), 
        
        async searchTours(){
            console.log(this.query)
            this.kidsbooks = await this.getTourByName;
        }
    },
    
    computed: {
        ...mapGetters([
            'getTours',
            'getTourByName'
        ]),

    },

    mounted(){
        this.getLatestTours();
        this.allTours = this.getTours;

        document.title = 'Tours | Vacations';
        
        let url = window.location.search.substring(1);
        let params = new URLSearchParams(url);
        if (params.get('query')){
            this.query = params.get('query');
            this.searchTours();
        }
        
    },
      
}
</script>
